<div id="dash_above_video">
  <div id="dash_now_playing_text">
    <%=link_to video.comedian.name + ":", comedians_show_path(:id => video.comedian), :id=>'dash_random_comedian_link'%> <span id = "dash_video_title" ><%= video.title%></span>
  </div>
</div>

<div id="dash_video_player"></div>
<script type='text/javascript'>
    jwplayer('dash_video_player').setup({
        file: "<%= video.url %>",
        width: '700',
        height: '393',
        controlbar: 'none',
        autostart: 'true',
        icons: 'false',
        logo: 'false',
        fill: 'true',
        smoothing: 'true'

    });
</script>
<div id="dash_below_video">
  <div id="rating_div">
    <%= button_to  '', ratings_create_path(:video_id => video.id, :thumbs => 1), :method => 'get', :remote => true, :id => "thumbs_up_button"%>
    <%= button_to  '', ratings_create_path(:video_id => video.id, :thumbs => 0), :method => 'get', :remote => true, :id => "thumbs_down_button"%>

    <div id = "approval_rating">
      Approval Rating: <%= (video.ratings.average('thumbs')*100).to_i unless video.ratings.average('thumbs').nil? %>%
    </div>
  </div>

  <div id="dash_next_video_div">
      <%= button_to "Shuffle",  dashboard_shuffle_path, :remote => true, :method => :get, :id => "dash_next_video_button" %>

  </div>
</div>

<div id="dash_comments">
  <div class="comments_header_div"><%=video.comments.all.length%> Comments:</div>
  <div class="dash_comments_div">
  <% unless Comment.find(:all, :conditions => {:video_id => video.id }).empty? %>
    <% video.comments.all.each do |comment| %>
      <div id="dash_comment_item">
        <div id="dash_comment_name"><%= comment.user.name %> said: </div>
        <div id="dash_comment_description"><%= comment.description %></div>
        <div id= "dash_comment_date">Posted <%= comment.created_at.strftime("%b %d, %Y")%></div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

