<div class="horizontal_scroller" >
  <div id= "video_description_title" class="scrolling_text">Now Playing: <%= video.title %></div>
</div>
<div id="video_player"></div>
<script type='text/javascript'>
    jwplayer('video_player').setup({
        file: "<%= video.url %>",
        width: '660',
        height: '364',
        controlbar: 'none',
        autostart: 'true',
        icons: 'false',
        logo: 'false',
        fill: 'true',
        smoothing: 'true'

    });
</script>

<div id="below_video">
  <div id="rating_div">
    <%= button_to  '', ratings_create_path(:video_id => video.id, :thumbs => 1), :method => 'get', :remote => true, :id => "thumbs_up_button"%>
    <%= button_to  '', ratings_create_path(:video_id => video.id, :thumbs => 0), :method => 'get', :remote => true, :id => "thumbs_down_button"%>

    <div id = "approval_rating">
      Approval Rating: <%= (video.ratings.average('thumbs')*100).to_i unless video.ratings.average('thumbs').nil? %>%
    </div>
  </div>

    <div id="video_list">
      <% comedian.videos.all.each do |vid| %>
        <div class="comedian_video_item">
          <div class="video_title">
            <%= vid.title %>
          </div>
          <div class="play_video_button_div">
            <%= button_to '', videos_show_path(:comedian_id => comedian.id, :id => vid.id), :remote => true, :method => 'get', :class => "play_video_button" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div id="comments">
    <div id="new_comment">
      <%= form_for video.comments.new, :url => video_comments_path(:video_id => video.id), :remote => true, :method => 'post' do |f| %>
        <div id="comment_title">Leave a Comment: </div>
        <%= f.text_area :description, :size => "35x5", :id => "comment_box"%>
        <div id="add_and_submit_comment">
        <%= f.submit "add comment", :id => "add_comment_button"%>
        </div>
        <%= image_tag 'check_mark.png', :id => 'check_mark' %>
      <% end %>
    </div>
  </div>

  <div id="random_comment_box">

    <div id="random_comment_text">
        <%= video.random_comment unless Comment.find(:all, :conditions => {:video_id => video.id }).empty? %>
    </div>
  </div>
</div>



<%= button_to "", comments_random_path(:video_id => video.id), :remote => true, :id => "hidden_refresh_comment_button" %>


